<a href="/books"> <h1>Book Library</h1></a>
<h2>A library of books</h2>     
<a href="/books/addbook">Add a new book to the library</a>
<form action="/books/search" method="GET">
  <input type="text" name="searchforbook" />
  <input type="submit" value="search" />
</form>